:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-image: url('../src/images/ARTWObackground.png');
  background-color: #EFEBE0;
  background-repeat: no-repeat;
  background-size: cover;
}
